@import url("https://fonts.googleapis.com/css2?family=Pacifico&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");
body {
  font-family: "Poppins", serif;
  margin: 0;
  background-color: #210002;
  font-size: 15px;
}

::selection {
  background: #e06716, #591f1d;
  color: #fff;
}

::-webkit-scrollbar {
  width: 10px;
}

::-webkit-scrollbar-thumb {
  background-color: linear-gradient(to 40deg, #e06716, #591f1d);
  border-radius: 10px;
}
::-webkit-scrollbar-thumb:hover {
  background-color: #e06716;
}
:-webkit-scrollbar-track {
  background-color: #591f1d;
}

.banner {
  height: 100vh;
  position: relative;
  overflow: hidden;
}

.banner .bg {
  position: absolute;
  left: 0;
  bottom: 0;
  width: 100%;
  height: 100%;
  background-size: auto 100%;
  background-position: center bottom;
  transition: all 0.7s;
}

.banner .bg-1 {
  background-image: url(img/0.png);
}

.banner .bg-2 {
  background-image: url(img/1.png);
}

.banner .bg-3 {
  background-image: url(img/2.png);
}

.banner .bg-4 {
  background-image: url(img/3.png);
}

.banner .bg-5 {
  background-image: url(img/4.png);
}

.banner .bg-6 {
  background-image: url(img/5.png);
}

.banner .bg-7 {
  background-image: url(img/6.png);
}

.banner .bg-8 {
  background-image: url(img/7.png);
}

.banner .bg-9 {
  background-image: url(img/8.png);
}

.banner h1 {
  position: absolute;
  left: 0;
  width: 100%;
  text-align: center;
  font-size: 11rem;
  font-family: Pacifico;
  color: #fff;
  transition: 0.7s;
}

.intro {
  min-height: 50vh;
  color: #fff;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.intro img {
  width: 130px;
  height: 130px;
  border-radius: 50%;
}

.intro p {
  width: 700px;
  max-width: 100%;
  text-align: center;
}

.intro button {
  background-color: #fd0003;
  padding: 15px 50px;
  border: 1px solid #591f1d;
  color: #fff;
  font-family: Poppins;
  font-weight: 500;
  border-radius: 5px;
  cursor: pointer;
}

.animation-show {
  transform: translateY(50px);
  opacity: 0;
  transition: 0.7s;
}

.active .animation-show {
  transform: translateY(0);
  opacity: 1;
}
.animation-show:nth-child(2) {
  transition-delay: 0.3s;
}

.animation-show:nth-child(3) {
  transition-delay: 0.6s;
}

.animation-show:nth-child(4) {
  transition-delay: 0.9s;
}

.library {
  margin-top: 50px;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  text-align: center;
  color: #fff;
}

.library img {
  width: 90%;
  height: 500px;
  object-fit: cover;
  cursor: pointer;
  transition: all 0.3s ease;
}
.library img:hover {
  transform: scale(1.05);
}

@media screen and (max-width: 768px) {
  .banner h1 {
    font-size: 5rem;
  }
  .library {
    grid-template-columns: repeat(2, 1fr);
  }
  .library img {
    height: 300px;
  }
}
